@import url(http://fonts.googleapis.com/css?family=Pacifico);
body {
    background-color: #CDE;
    margin-bottom: 20px;
}

header {
    width: 100%;
    background: #269abc;
    margin-bottom: 20px;
}

header h1 {
    text-align: center;
    padding: 50px;
    font-size: 62px;
    font-family: "Pacifico", arial, sans-serif;
    text-shadow: 0 2px 2px #3c77b3;
}
.nav a {
    background: #7C3737;
}

.nav.nav-pills li.active a {
    background: rgb(255, 136, 136);
}

.nav li a{
    color: #fff;
}

.search {
    margin: 20px auto;
    text-align: center;
}

.list-group {
    margin: 20px auto 50px auto;
}

.ad-wrap, .preview {
    padding: 20px 35px;
    border-radius: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 10px solid #CCDDEE;
    height: 100%;
    background: #fff;
}

.preview-title {
    margin-top: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 24px;
}

.gallery {
    padding: 5px;
}

.img-wrap{
    text-align: center;
}

.img-thumbnails{
    display: table;
    margin: 0 auto;
}

.small-image {
    height: 50px;
    width: 50px;
    display: inline-block;
    margin: 20px 15px 20px 0;
}

.small-image:last-child {
    margin-right: 0;
}

.small-image:hover {
    cursor: pointer;
}

#ad-form .nav-pills>li.active>a,
#ad-form .nav-pills>li.active>a:hover,
#ad-form .nav-pills>li.active>a:focus,
#ad-form .btn-primary,
#ad-form .btn-primary:hover,
#ad-form .btn-primary:focus {
    background: #ac005f;
    padding: 10px 15px;
}

.review-area {
    margin-left: 6px;
}

textarea,
input {
    width: 100%;
}

select {
    width: 100%;
}

.ng-invalid.ng-dirty {
     border-color: red;
 }

.ng-valid.ng-dirty {
    border-color: green;
}

cite {
    display: block;
    font-style: normal;
    margin-bottom: 12px;
}

.ad-tag {
    display: inline-block;
    padding: 5px 10px;
    background: #cccccc;
    color: #fff;
    margin-right: 5px;
    margin-bottom: 5px;
}

.wrap-helper{
    overflow: hidden;
}

.edit-ad, .delete-ad{
    max-width: 20%;
    width: 30px;
    height: 30px;
    background: rgb(171, 219, 231);
    float: right;
    font-size: 20px;
    -moz-border-radius: 6px; /* Firefox */
    -webkit-border-radius: 6px; /* Safari, Chrome */
    border-radius: 6px; /* CSS3 */
    line-height: 35px;
    margin: 0 3px;
    text-align: center;
    color: #237AB0;
}

.add-title {
    max-width: 80%;
    float: left;
}

.row.container-height {
    overflow: hidden;
}

.row.container-height > [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.tags-list{
    text-align: right;
}