<switcher-view></switcher-view>
<div class="row" ng-class="{'container-height': switcherViewCtrl.view === 4}" ng-repeat="(key, ad) in ads.adsCollection track by $index"
ng-if="($index + 1)%3 === 1">
<div ng-show="ads.adsCollection[n].title" class="ad-wrap col-sm-{{switcherViewCtrl.view}} col-md-{{switcherViewCtrl.view}}"
      ng-repeat="n in [key, key+1, key+2]">
        <ad-tags></ad-tags>
        <div class="wrap-helper">
            <h2 class="add-title">{{ads.adsCollection[n].title}}</h2>
            <a class="edit-ad" ng-click="ads.editAdvertisement(n+1)" ui-sref="editAd({item: n+1})">Edit</a>
        </div>
        {{ads.adsCollection[n].body}}
        <cite class="clearfix">—{{ads.adsCollection[n].author}} on {{ad.createdOn | date}}</cite>
    </div>
</div>