<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <span class="preview-title">Change view:</span>
        </div>
        <div class="col-md-2">
            <div class="btn-group pull-right" id="switch-view">
                <button ng-click="switcherViewCtrl.setView('block')" class="btn btn-primary">
                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                </button>
                <button ng-click="switcherViewCtrl.setView('inline')" class="btn btn-primary active">
                    <span class="glyphicon glyphicon-th"></span>
                </button>
            </div>
        </div>
    </div>
</div>
